<div class="users_h1_box"><h1>Instagram Clone へようこそ！</h1></div>
<%= render "form" %>
<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">アカウント新規作成</h2>
  <%= form_with(model: @user, local: true ) do |f| %>
    <form class="login-container">
      <%= f.label "お名前：" %><br>
      <%= f.text_field :name %><br>
      <%= f.label "メールアドレス：" %><br>
      <%= f.text_field :email %><br>
      <%= f.label "パスワード："  %><br>
      <%= f.password_field :password %><br>
      <%= f.label "パスワード確認："  %><br>
      <%= f.password_field :password_confirmation %><br><br>
      <%= f.submit "アカウント作成" %>
    </form>
    <% end %>
</div> 
<%= link_to "戻る", users_path%>
